:root{
    --light-color:#FFFCF2;
    --mid-color:#CCC5B9;
    --dark-color:#403D39;
    --accent-color:#FFAA58;
    --poppins-font: "poppins";
    --komet-font: "komet";
    --kometsc-font: "komet sc";
}
body{
    background-color: var(--light-color);
    margin: 0;
    font-family: var(--kometsc-font);
    color: var(--dark-color);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--poppins-font);
    font-size: 28pt;
    font-weight: lighter;
}
h1{
    font-size: 24pt;
    text-align: center;
    font-family: var(--poppins-font);
    font-weight: 500;
}
.mobilehideNav{display: none;}
.mobilehide{display: none;}
.head2{
    font-family: var(--poppins-font);
    width: 40%;
    position:absolute;
    right: 10%;
    top: 20%;
}
.head2 h1{
    font-weight: bolder;
    text-align: left;
    font-size: 18px;
}
.head2 p{
    font-weight: 400;
    margin: 0.2em;
    color: rgb(175, 168, 156);
}
.mylogo{
    position: relative;
    z-index: 1;
}
.mylogo img{
    background-color: var(--light-color);
    width: 200px !important;
    display: block;
    margin-left: auto;
    margin-right: 50%;
}
h2{
    color: var(--accent-color);
}
.btn{
    display: block;
    color: var(--dark-color);
    background-color: white;
    text-decoration: none;
    width: 120px;
    height: 51px;
    border-radius: 8px;
    text-align: center;
    margin: 1.7em auto;
    padding-top: 24px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.20);
    height: 30px;
    padding-top: 10px;
}
/* bigger img on hover */
.flexContainer img:hover{
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0 1em 1em 1em;
    border: 20px solid var(--dark-color);
    z-index: 1;
}
nav{
    text-align: center;
    padding-top: 0.8em;
}
nav a{
    color: black;
    font-size: 18pt;
    margin: 0.5rem;
}

#bottom{
    background-color: var(--mid-color);
    padding: 1em 0;
}
.skole{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    /* horizontal scroll */
    overflow: auto;
    white-space: nowrap;
}

.skole img{
    width: 100%;
}
.skole p{
    text-align: center;
}

.icon{
    margin: 1em 2em;
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 48px;
}
.cover{
    object-fit: cover;
}
.frame{
    background-color: var(--dark-color);
    margin: 0;
    padding: 3em 0;
}
.frame h2{
    text-align: center;
    margin-top: 0;
}
.midtone{
    margin-top: 0;
    background-color: var(--mid-color);
    font-family: var(--poppins-font); 
    padding-bottom: 10vh;
}
.midtone h2{
    color: var(--dark-color);
    text-align: left;
    font-family: var(--poppins-font); 
    font-weight: normal;
}
.midtone div{
    margin: 0 2em;
}
.midtone div div{
    text-align: center;
    margin-top: 3em;
}
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.flexContainer img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    width: 100%;
}
.contact{
    font-family: var(--poppins-font);
    font-weight: 400;
    margin: 1.8em 0;
    text-align: center;
}
.contact a{
    font-family: var(--kometsc-font);
    text-decoration: none;
    color: black;
    margin-bottom: 1em;
}
footer{
    text-align: center;
}
/* Undersider */
#space{background-image: url(imgs/space.jpg);}
#dance{background-color: #F3CA90;}
#video{
    background-image: url(imgs/howToHygge.png);
    background-position: center;
}
.info{
    background-color: white;
    /* border-radius: 8px; */
    margin: 1.4rem ;
}
.info h1{
    padding-top: 2em;
    font-weight: lighter;


}
.info p{
    margin: 3em;
    font-family: var(--poppins-font);
    font-size: 14px;
}
.info a{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
}
.info img{
    display: block;
    width: 80%;
    margin: 1em auto 1em auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}
iframe{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2em;
    border: none;
}

@media screen and (min-width: 1367px) {
    .active{text-decoration: underline;}
    .desktophide{display: none;}
    .mobilehide{display: inline;}
    .mobilehideNav{display: block;}
    nav a:hover{color: var(--mid-color);}
    .light p{color: var(--light-color);}
    .head2 h1{
        margin-left: 0;
    }
    .mylogo{
        width: 30vw;
        margin-left: 10vw;
    }
    .mylogo img{
        margin-left: 8%;
    }
    nav {
        padding: 0;
        padding-left: 4.4em;
        height: 2em;
        width: 55vw;
        background-color: var(--dark-color);
        clip-path: polygon(0 0, 100% 0, 98% 100%, 0% 100%);
        font-family: var(--poppins-font);
        font-size: 28pt;
        text-align: left;
    }
    nav a{
        padding-top: 0.7rem;
        margin: 0;
        margin-right: 2em;
        color: var(--light-color);
        text-decoration: none;
    }
    h1{
        margin-top: 1em;
        text-align: left;
        margin-left: 42px;
    }
    /* Skole Projekt Grid - https://www.w3schools.com/cssref/pr_grid-area.asp*/
    .spaceitem{
        grid-area: s;
    }
    .danceitem{
        grid-area: d;
    }
    .videoitem{
        grid-area: v;
    }
    .frontpageHeader{
        position: absolute;
        top: 0.7rem;
        right: 10%;
        left: auto;
    }
    .frontpageHeader h2{
        color: var(--dark-color);
        margin: 0;
        font-weight: bold;
        font-size: 30pt;
    }
    .skole{
        /* bruteforcing af position */ 
        position: relative;   
        top: -8em;
        display: grid;
        grid-gap: 1em;
        grid-template-areas:
        '. . . . . . s s s s s .'
        '. . . . . d d d d d . .'
        '. . . . v v v v v . . .';
    }
    .skole img{

        width: 400px;
        height: 250px;
        float: right;
        margin-right: 6rem;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.30);
    }
    .frame{
        background-color: var(--mid-color);
    }
    .frame h2{
        font-family: var(--poppins-font);
        color: var(--dark-color);
        font-size: 38pt;
        font-weight: bold;
        margin-bottom: 0.2em;
    }
    .artframe{
        background-color: var(--dark-color);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3em;
        border-radius: 8px;
        margin-bottom: 3em;
    }
    .artframe h2{
        color: var(--mid-color);
    }
    .underhalfofsection{
        background-color: #6A645F;
    }
    .underhalfofsection .artframe{
        background-color: #6A645F;
    }
    .underhalfofsection h2{
        padding-top: 1.2em;
        color: var(--light-color);
    }
    .info{
        margin: 4rem 8rem;
    }
    .info h1{ 
        font-size: 24pt;
        font-weight: normal;
    }
    .info img{
        width: 20%;
    }
    .danceinfo img{
        width: 40%;
    }
    .imageDivider{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    iframe{
        width: 700px;
        height: 400px;
    }
    .flexContainer{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-around;
    }
    .flexContainer img{
        /* margin: 4em; */
        width: 352px;
        height: 198px;
        border-radius: 8px;
    }
    /* Vertical Align https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    .mylogoAboutme{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .midtone{
        position: relative;
        background-color: transparent;
        float: right;
        width: 30vw;
        margin-right: 5%;
    }
    .midtone h2{
        text-align: center;
    }
    .midtone div{
        margin-top: 20vh;
    }
    .aboutbtn{
        display: block;
        position: absolute;
        top:50%;
        left: 48%;
        transform: translateX(-50%);
        transform: translatey(-50%);
    }
}
@media screen and (min-width: 1920px) {
    .flexContainer{
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
    }
}